simplecrypt-gui/src/main/resources/encryptedfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.davidebellettini.com/crypt/file"
	xmlns:kr="http://www.davidebellettini.com/crypt/file"
	elementFormDefault="qualified">

	<element name="file" type="kr:file" />

	<complexType name="file">
		<sequence>
			<element name="content" type="base64Binary" />
		</sequence>
		<attribute name="id" type="hexBinary" />
	</complexType>
</schema>