simplecrypt-gui/src/main/resources/keyring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.davidebellettini.com/crypt/keyring"
	xmlns:kr="http://www.davidebellettini.com/crypt/keyring"
	elementFormDefault="qualified">

	<element name="keyring" type="kr:keyring" />

	<complexType name="keyring">
		<sequence>
			<element name="key" type="kr:key" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="key">
		<sequence>
			<element name="algorithm" type="string" />
			<element name="value" type="base64Binary" />
		</sequence>
		<attribute name="id" use="required" type="hexBinary" />
	</complexType>
</schema>